.Rproj.user
.Rhistory
.RData
.Ruserdata
output/*.pdf
output/*.html
output/*.tiff
output/*amlss*
output/*best*
output/*bam*
output/df_fukuchi.RDS
output/df_horst.RDS
output/df_taylor.RDS
output/df_schreiber.RDS
output/df_lencioni.RDS
output/*.RData
manuscript/*
analysis/*html
2020_stairs_biomech.Rproj
